.main-reset{

}

.form-reset{
    width: 300px;
    margin-left: 495px;
    margin-top: 150px;
    height: 320px;
}

.form-head-reset{
    color: bisque !important;
    background-color: cornflowerblue !important
}
.text-reset span,b{
    margin: 20px;
}
.text-field-reset{
    margin-top: 25px;
    margin-left: 40px;
}

.buttons-reset{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-reset Button{
    background-color: cornflowerblue;
    margin-left: 30px;
    color: bisque !important;

}

#confirm-field-reset{
    margin-top: 20px;
}

.fundoo-reset{
    margin: 20px;
}