.main-reg{

}

.form-reg{
    width: 600px;
    margin-left: 370px;
    margin-top: 70px;
    height: 450px;
}

.form-head-reg{
    color: bisque !important;
    background-color: cornflowerblue !important;
}
.text-reg span,b{
    margin: 20px;
}
.text-field-reg{
    margin-top: 40px;
    margin-left: 40px;
}

#email-field-reg{
    margin-top: 20px;
    
}
.email{
    width: 360px;
}

.last-name{
    margin-left: 20px !important;
}

.mobile-no{
    width: 360px;
}
.confirm{
    margin-left: 20px !important;
}
#password-field-reg{
    margin-top: 20px;
}

#mobileNo-field-reg{
    margin-top: 20px;
}
.buttons-reg{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-reg Button{
    margin-left: 190px;
    background-color: cornflowerblue;
    color: bisque !important;

}
.fundoo-reg{
    margin: 20px;
}