.main-forget{

}

.form-forget{
    width: 300px;
    margin-left: 495px;
    margin-top: 150px;
    height: 245px;
}

.form-head-forget{
    color: bisque !important;
    background-color: cornflowerblue !important
}
.text-forget span,b{
    margin: 20px;
}
.text-field-forget{
    margin-top: 25px;
    margin-left: 40px;
}

.buttons-forget{
    margin-top: 20px;
    margin-left: 40px;
}

.buttons-forget Button{
    background-color: cornflowerblue;
    margin-left: 30px;
    color: bisque !important;

}

.fundoo-forget{
    margin: 20px;
}